{% extends 'flatpages/default.html' %}
{% load cache %}

{% load custom_filters %}

{% load bootstrap %}

{% load  custom_tags%}

{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{%cache 100 content%}
{% block content %}
    <h1>All news</h1>
    <hr>
    {% if news %}
        <table>
            <tr>
                <td>Header</td>
                <td>Text</td>
                <td>Date and time</td>
            </tr>
            {% for new in news %}
                <tr>
                    <td>{{new.header|censor}}</td>
                    <td>{{new.text|truncatechars:20|censor}}</td>
                    <td>{{new.date_and_time|date:'d M Y'}}</td>
                    <td>{{new.author.rate}}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No news</p>
    {% endif %}

   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}
{% endcache %}